* {
  padding: 0;
  margin: 0;
}

nav {
  grid-area: nav;
  background-color: #ffffff;
  position: absolute;
  width: 100vw;
  height: 55px;
}
.section1{
  margin-top: 30px;
  margin-left: 10px;
}
nav img.logo {
  max-width: fit-content;
  max-height: fit-content;
  height: 55px;
  padding-left: 41px;
}

body {
  background-color: #f2f3f5;
  display: flex;
}

main {
  background-color: #f2f3f5;
  display: flex;
}

section {
  margin-left: 78px;
  font-family: "Open Sans", sans-serif;
  margin-top: 89px;
  padding: 0px;
}

section h1 {
  padding: 0;
  margin-bottom: -20px;
  margin-left: 10px;
  position: absolute;
width: 240px;
height: 48px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 48px;
color: #707070;
  
}

.conjunto-topo {
  margin-left: 811px;
}

.container {
  margin-top: 143px;
  margin-right: 394px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 894px;
  gap: 10px;
  width: 894px;
    height: 93px;
}

.conteudo {
  background-color: #ffffff;
  word-wrap: inherit;
  margin: 10px;
  /* box-shadow: 2px 3px 3px black; */
  height: 93px;
  filter: drop-shadow(2px 2px 3px black);
  display: flex;
}

div.conteudo img {
  max-height: 73px;
  max-width: 73px;
  margin: 11px;
}

div.conteudo h3.titulo {
  color: #707070;

  margin: 0 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

div.conteudo div.interno {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

span.tipo {
  margin: 0 16px;
  background-color: #3489b1;
  color: whitesmoke;
  width: 35px;
  font-weight: 700;
}

span.spec p {
  margin: 6px 17px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  /* background-color: gray; */

  width: 279px;
  /* Height: 309px; */
  word-wrap: inherit;
  justify-content: space-between;
}

.endomarketing {
  background-color: #fff2de;
  margin: 15px;
  text-align: justify;
  border: solid 1px #cccccc;
}

.endomarketing button {
  margin-top: 252px;
  text-align: center;
}

.quadros {
  text-align: justify;
  margin: 15px;
  background-color: #fdfdfd;
  border-radius: 6px;

  filter: drop-shadow(1px 1px 1px black);
}

div.conteudo {
  height: 93px;
  width: 874px;
}

/* .conteudo-quadros {} */
